@if (type == 'smart') {
<div class="card">
  <h2>{{ "Método SMART" | titlecase }}</h2>
  <div class="infoTable">
    @for (method of smartsData; track $index) {
    <div class="txt">
      <br />
      <h3>{{ method.letter }}</h3>
      <h3>{{ method.translate | titlecase }}</h3>
      <br />
      <p>{{ method.abstract }}</p>
      <br />
      <p><strong>{{ method.key }}</strong></p>
    </div>
    }
  </div>
  <p>
    <br />
    Ao criar uma meta, os campos que são preenchidos levam o nome da palavra em
    negito que está ao final de cada defiição.
    <br />
    <br />
    <i>(As palavras chave de cada sigla)</i>
  </p>
</div>

} @else if (type == 'areas') {
<div class="card">
  <h2>{{ "Áreas da vida" | titlecase }}</h2>

  <p style="margin: 0.8vmax">
    <img class="img" src="../../../assets/areas.png" alt="Áreas da vida" />
    <strong>4 áreas da vida divididas em 12 subáreas</strong> <br />
    Defina metas de acordo com as áreas da sua vida e desenvolva atividades mais
    objetivas.
  </p>
</div>
}
