@if (type == 'favorite') {
<button
  mat-icon-button
  matTooltip="Favoritar dado"
  (click)="toggleFavorite()"
>
  <mat-icon class="favorite {{ white ? 'white-favorite' : '' }}">
    {{ item.favorite ? "favorite" : "favorite_border" }}
  </mat-icon>
</button>
} @else if (type == 'delete') {
<button
  mat-icon-button
  matTooltip="Remover dado"
  (click)="openDeleteDialog()"
>
  <mat-icon color="warn">delete</mat-icon>
</button>
} @else if (type == 'back'){
  <button mat-icon-button matTooltip="Voltar" (click)="back()">
    <mat-icon class="back {{ white ? 'white-back' : '' }}">exit_to_app</mat-icon>
  </button>
}
