footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 0.1rem solid #4eb4f0;
  padding-block: 1rem;
}

h3 {
  font-size: 18px;
}

p {
  color: #646464;
  margin: 0.2rem;
}

strong {
  color: #4eb4f0;
}
