footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20%;
  border-top: 1px solid #4eb4f0;
  color: #646464;
}

footer h3 {
  font-size: 18px;
  color: black;
  margin-top: 0.9em;
}

footer p {
  margin: 0.2em;
  margin-bottom: 3%;
}

footer span {
  /* negrito */
  font-weight: bold;
  color: #4eb4f0;
}
