@import "@angular/material";

mat-toolbar-row {
  justify-content: space-between;
  border-bottom: 1px solid #4eb4f0;
  padding: 0 5vw;
  height: 100%;
  position: initial;
}

.logo,
.links {
  display: flex;
  /* horizontal */
  justify-content: center;
  /* vertical */
  align-items: center;
}

.logo {
  align-content: center;
  margin: 0.5em;
}

.logo img {
  max-width: 10vw;
  max-height: 10vh;
}

.logo h2 {
  font-size: 1.5em;
}

/* Quando o mouse passar em cima da logo */
.logo :hover > h2 {
  color: #4eb4f0;
}

.links li {
  margin-right: 1em;
  /* sem os pontos ou numeros antes do nome */
  list-style: none;
  font-size: 1em;
}
