<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a class="logo" routerLink="/inicio">
      <img
        src="../../../assets/White simble.png"
        alt="Goals"
      />
      <h2>{{ "goals" | titlecase }}</h2>
    </a>
    <nav>
      <ul class="links">
        <li><a routerLink="/inicio">Inicio</a></li>
        <li><a routerLink="/grupos">Grupo de metas</a></li>
        <li><a routerLink="/metas">Acompanhar metas</a></li>
        <li><a routerLink="/lembretes">Lembrete</a></li>
        <li><a routerLink="/metodos">Metódos</a></li>
      </ul>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>
