mat-card {
  display: flex;
  margin-bottom: 1rem;
}

mat-toolbar {
  margin-bottom: 0.9rem;
}

h1 {
  font-size: 1.8rem;
  font-weight: 500;
}

.methods {
  display: flex;
  flex-direction: row;
  padding: 0;
}
