.title {
  font-size: 2rem;
  font-weight: 500;
}

.btn {
  justify-content: center;
  width: 3rem;
  height: 3rem;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
}

mat-card {
  flex-direction: row;
  width: calc(25% - 1vw);
  height: 20vh;
  margin: 3vh 0.5vw;
}

mat-card a {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

mat-card-content p{
  flex: 1;
  font-size: 0.9rem;
}

mat-card-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}
