<ng-container>
  @if (listGroup$ | async; as groups) {
  <mat-toolbar color="accent">
    <h1 class="title">{{ "grupos de metas" | titlecase }}</h1>
    <span class="spacer"></span>
    <button mat-fab (click)="openAddDialog(groups.length)" color="primary" class="btn">
      <mat-icon>add_card</mat-icon>
    </button>
  </mat-toolbar>

  <div class="content">
    @for (group of groups; track $index) {

    <mat-card
      matRipple
      [matRippleCentered]="true"
      [matRippleTrigger]="trigger"
      [ngStyle]="{ 'border-top': '1rem solid ' + group.color }"
    >
      <a #trigger (click)="openDetails(group)" style="color: black">
        <mat-card-header>
          <mat-card-title>{{ group.name | titlecase }}</mat-card-title>
          <mat-card-subtitle>{{ group.category.name | titlecase }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          @if (group.description) {
          <p>{{ group.description }}</p>
          } @else {
          <span class="spacer"></span>
          }
        </mat-card-content>
      </a>

      <mat-card-footer>
        <app-common-button
          [data]="{ type: 'favorite', item: group, service: groupService }"
        />
        <app-common-button
          [data]="{ type: 'delete', item: group, service: groupService }"
          (itemDeleted)="reloadItens($event)"
        />
      </mat-card-footer>
    </mat-card>

    }
  </div>
  } @else {
  <app-common-error></app-common-error>
  }
</ng-container>
